
#hello{
    font-size: 13px;
    font-weight: bold;
    background-color: #F1F7FA;
    padding: 11px 15px;
    border-radius: 16px;
    float: right;
    margin-bottom: 0;
    margin-right: 10px;
    border:1px solid skyblue;
}

#jena{
    float: right;
    background-color: #F1F7FA;
    padding: 13px 15px;
    border-radius: 16px;
    width: 95px;
    border:1px solid skyblue;

}