
#hello{
    font-size: 12px;
    font-weight: bold;
    background-color: #F1F7FA;
    padding: 5px 15px;
    border-radius: 16px;
    float: right;
    margin-bottom: 0;
    margin-right: 10px;
    border:1px solid skyblue;
}

#jena{
    float: right;
    background-color: #F1F7FA;
    padding: 10px 5px;
    border-radius: 16px;
    width: 42px;
    border:1px solid skyblue;

}