.footer{
    text-align: center;
    background-color: none;
    font-size: 10px;
    display: block;
    background-color:transparent;
    position: fixed;
    bottom: 0px;
}

#about{
    text-align: center;
    background-color:transparent;
}

.footer #jena{
    margin-top: -2px;  
}